body {
    font-family: cursive;
    background-image: url(images/seigaiha.png);
}

h1 {
    font-family: cursive;
}

h3 {
    font-family: cursive;
}

.page-header {
    margin-top: -19px;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 8px;
    background-color: darkred;
}

#main {
    text-align: center;
    margin-top: 20px;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 150%;
    font-weight: 900;
}

#location {
    margin-top: 30px;
    height: 100%;
    font-family: cursive;
    font-size: 110%;
    font-weight: 100;
}

.options {
    padding-bottom: 20px;
    padding-top: 20px;
}

.tel {
    margin-top: -10px;
    font-size: 70%;
    font-weight: 100;
    
}

#foodItem {
    font-weight: 3000;
    color: darkred;
}

#menu {
    font-size: 110%;
}

#directory {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}